.App-header {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  padding: 0 0.7rem;
  overflow: hidden;
}
@media all and (min-width: 480px) {
  .App-header {
    padding: 0 2.75rem;
  }
}
.nav {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}

.nav > * {
  margin-right: 1.6rem;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
.nav-link.active {
  color: rgba(0, 0, 0, 0.8);
}
.btn {
  position: relative;
  display: inline-block;
  overflow: visible;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 0 10px;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: 14px;
}

.btn::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.btn:hover::before {
  border-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.025);
}

.btn-login {
  height: 32px;
  line-height: 32px;
}
