.form-login {
  width: 300px;
  padding: 20px 24px 26px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.01);
}

.form-login__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-login input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 32px;
  margin-top: 5px;
}

.form-login button[type='submit'] {
  height: auto;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 14px;

  cursor: pointer;
}

.form-login button[type='submit']:hover {
  border-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.025);
}
